/* Game.css */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #7f00ff, #e100ff, #00c9ff);
    padding: 20px; /* Add padding to prevent content from touching the edges */
}

.game-content {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 700px;
}

.meme {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.meme img {
    max-width: 100%;
    border-radius: 15px;
}

.captions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.caption-button {
    flex: 1 1 calc(50% - 10px);
    background-color: #7f00ff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.caption-button:hover {
    background-color: #6a00e0;
}

.caption-button.selected-correct {
    background-color: #33cc33 !important;
    color: black !important;
}

.caption-button.selected-incorrect {
    background-color: #ff3333 !important;
    color: black !important;
}

.caption-button.correct {
    background-color: #99ff99 !important;
    color: black !important;
}

.timer-bar {
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    height: 15px;
}

.timer-bar-inner {
    background-color: #6a00e0;
    height: 100%;
    transition: width 1s linear;
}

.game-over {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-button, .history-button, .start-over-button, .logout-button {
    background-color: #7f00ff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.login-button:hover, .history-button:hover, .start-over-button:hover, .logout-button:hover {
    background-color: #6a00e0;
}

.round-result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
.next-round-button {
    margin-top: 20px;
    background-color: #9370DB;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.next-round-button:hover {
    background-color: #F8BBD0;
}